@import "vanilla-framework";
@include vanilla;

$color-brand: #a87ca0;

.article-card {
  border-top: 3px solid $color-brand;
}

.dotted {
  border-top: 1px dotted $color-mid-dark;
  background-color: transparent;
}
